@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root
{
    --tausta: #ffffff;
    --teksti: #333333;
    --header: #7e4d6e;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
    margin: 0;
    padding: 0;
}

.ingressi {
    font-size: 1.3em;
    font-style: italic;
}

/* main-tyylit */
main {
    font-size: 1.2em;
    line-height: 1.6em;
}

/* section-tyylit */
section {
    max-width: 1000px;
    width: 70%;
    margin: 20px auto;
}

/*showcase-tyylit */
.showcase {
    font-size: 1.4em;
    text-align: center;
    color: var(--header);
    background-color: #ffc2e4;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    width: 100%;
}