@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root
{
    --tausta: #f0f0f0;
    --teksti: #333333;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
    margin: 0;
    padding: 0;
}

/* main-tyylit */
main {
    font-size: 0.7em;
    line-height: 1.6em;
}

/* section-tyylit */
section {
    max-width: 900px;
    width: 70%;
    margin: 20px auto;
}

/*showcase-tyylit */
.showcase {
    font-size: 1.7em;
    background-color: #ffffff;
    padding-top: 50px;
    width: 100%;
}